 <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Cow King App</h3>
            </div>

            <ul class="list-unstyled components">
                <p>welcome Tejas <br> +91 7620146531</p>
                <li>
                    <a href="#"><i class="fa-solid fa-language"></i>  Language</a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-share-nodes"></i>  Share</a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-address-card"></i>  About</a>
                </li>

                <li>
                    <a href="#"><i class="fa-solid fa-phone"></i>  Contact</a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-right-from-bracket"></i>  Logout</a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="" class="download">Download App</a>
                </li>
                <li>
                    <a href="" class="article">Back to article</a>
                </li>
            </ul>
        </nav>
