<!DOCTYPE html>
<html>


<head>
    {{>links}}

    <title>Animal-Datails</title>


</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        {{>hnav}}
        <!-- Page Content  -->
        <div id="content" class="content">

            {{>vnav}}
            <div class="cont">

                <div class="line">
                    <div id="ab">
                        <div id="an">

                            
                        </div>
                        <div id="ac">

                        
                        </div>

                            


                    </div>
                    <a href="addevent"><button>Add Event</button></a>
                    <a href="show-animal"><button><i class="fa-solid fa-arrow-left-long"></i></button></a>
                </div>


            </div>



            <div class="line">
            </div>



            <div class="line"></div>




        </div>


    </div>
    </div>
<script src="event.js"></script>
    {{>scripts}}
</body>

</html>