<!DOCTYPE html>
<html>


<head>
    {{>links}}

    <title>Animal-Datails</title>

    
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        {{>hnav}}
        <!-- Page Content  -->
        <div id="content" class="content">

            {{>vnav}}
            <div class="cont">

                <div class="line">
                    <div id="ab"></div>
                    <a href="/addanimal"><button>Add Animal</button></a>
                </div>



                <div class="line">
                </div>



                <div class="line"></div>




            </div>


        </div>
    </div>
<script src="main.js"></script>
    {{>scripts}}
</body>

</html>