<!DOCTYPE html>
<html>

<head>
    {{>links}}

    <title>Farm-Details</title>

    {{!--
    <script src="main.js" defer></script> --}}


</head>

<body>
    <div class="wrapper">
        <!-- Sidebar  -->

        {{>hnav}}

        <!-- Page Content  -->
        <div id="content" class="content">
            {{>vnav}}


            <div class="cont">

                <div class="line">
                    <div id="a">
                    <div id="farmdeta">
                        

                    </div>
                    </div>

                    <a href="addfarm">
                        <button id="addfarm">Add Farm</button>
                        </a>
                    <a href="index"><button><i class="fa-solid fa-arrow-left-long"></i></button></a>

                </div>



                <div class="lin">
                </div>



                <div class="line"></div>
            </div>


        </div>
    </div>

    {{>scripts}}
<script src="ind.js"></script>
</body>

</html>